email: limit length?

From RFC 3696

>   In addition to restrictions on syntax, there is a length limit on
>    email addresses.  That limit is a maximum of 64 characters (octets)
>    in the "local part" (before the "@") and a maximum of 255 characters
>    (octets) in the domain part (after the "@") for a total length of 320
>    characters.  Systems that handle email should be prepared to process
>    addresses which are that long, even though they are rarely
>    encountered.

See also: https://www.rfc-editor.org/errata_search.php?rfc=3696&eid=1690


Neither RFC 5322 nor RFC 2822 have anything to say on the issue; and they're the normative ones (RFC 3696 is only informational)
